{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h2>The entry "{{name}}" does not exist</h2>
    <h2>The following entries have your query as a substring:</h2>
    <ul>
        {% load functions %}
        {% for entry in entries %}
            {% if name|isSubstring:entry %}
                <!-- <h2>The following entries have your query as a substring:</h2> -->
                <li>
                    <a href="{% url 'display' page_name=entry %}">{{entry}}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
